@page
@model PasswordChangeModel
@{
    ViewData["Title"] = "Смена пароля";
}
<h1>@ViewData["Title"]</h1>

<component type="typeof(PasswordChange)" render-mode="ServerPrerendered" />
<script src="~/_framework/blazor.server.js"></script>