@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <div id="wrapper">
            <div class=container4>
                <h1 class="display-4">Здравствуйте</h1>
                <h3>Это сайт, посвящённый игре Го.</h3>
            </div>
    </div>
</div>