@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;
@page "/LoginPage"
@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime;
@inject NavigationManager NavManager;
@inherits LoginPageModel

@code{
    void OnSubmitButtonClick()
    {
        OnSubmitListener(NavManager, JsRuntime);
    }
}

<form>
    <label for="login">Логин/Почта:</label><br>
    <input type="text" id="login"><br><br>
    <label for="password">Пароль:</label><br>
    <input type="password" id="password"><br><br>
</form>
<button @onclick="OnSubmitButtonClick">Войти</button>