@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@page "/LoginPage"
@using Microsoft.JSInterop;
@using WebApplication.Models
@inject IJSRuntime JsRuntime;
@inject NavigationManager _navigationManager;

<form>
    <label for="login">Логин/Почта:</label><br>
    <input style="width: auto; " class="form-control input_user" @bind="_login" type="text" id="login"><br><br>
    <label for="password">Пароль:</label><br>
    <input style="width: auto; " class="form-control input_user" @bind="_pwd" type="password" id="password"><br><br>
</form>
<button class="btn btn-primary" @onclick="OnSubmitButtonClick">Войти</button>
<div class="mt-4">
    <div class="d-flex links">
        Нет аккаунта? <a href="/RegistrationPage" class="ml-2">Регистрация</a>
    </div>
    <div class="d-flex links">
        <a href="#">Забыли пароль?</a>
    </div>
</div>

@code{
    private string _login;
    private string _pwd;

    private void OnSubmitButtonClick()
    {
        var user = UserManager.GetUser(_login, _pwd);
        if (user == null)
        {
            JsRuntime.InvokeVoidAsync("alert", "Неправильный логин или пароль!");
        }
        else
        {
            _navigationManager.NavigateTo("/Account/Profile");
        }
    }

}