@page
@model PlayerListModel
@{
    ViewData["Title"] = "Вход в аккаунт";
}

<form>
    <label for="login">Логин/Почта:</label><br>
    <input type="text" id="login" name="login"><br><br>
    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Войти">
</form>