@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web;
@page "/LoginPage"
@using Microsoft.JSInterop;
@inject IJSRuntime JsRuntime;
@inherits LoginPageModel

<form>
    <label for="login">Логин/Почта:</label><br>
    <input style="width: auto; " class="form-control input_user" @bind="_text" type="text" id="login"><br><br>
    <label for="password">Пароль:</label><br>
    <input style="width: auto; " class="form-control input_user" @bind="_pwd" type="password" id="password"><br><br>
    <button class="btn btn-primary" @onclick="OnSubmitButtonClick">Войти</button>
</form>
<div class="mt-4">
    <div class="d-flex links">
        Нет аккаунта? <a href="#" class="ml-2">Регистрация</a>
    </div>
    <div class="d-flex links">
        <a href="#">Забыли пароль?</a>
    </div>
</div>

@code{
    private string _text;
    private string _pwd;

    void OnSubmitButtonClick()
    {
        if (!OnSubmitListener(_text, _pwd))
        {
            JsRuntime.InvokeVoidAsync("alert", "Неправильный логин или пароль!");
        }
    }

}