@page
@using WebApplication.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Components.Web;
@model PlayerListModel
@{
    ViewData["Title"] = "Список Участников";
}
<h1>@ViewData["Title"]</h1>

<component type="typeof(PlayerList)" param-LoggedUsername="@Request.Cookies["username"]" render-mode="ServerPrerendered" />
<script src="~/_framework/blazor.server.js"></script>