@page
@using WebApplication.Models
@model PlayerListModel
@{
    ViewData["Title"] = "Список Участников";
}
<h1>@ViewData["Title"]</h1>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Имя</th>
        <th scope="col">Рейтинг</th>
    </tr>
    </thead>
    <tbody>
    @{
        var users = await UserManager.GetUsers();
        for (var i = 0; i < users.Count; i++)
        {
            var user = users[i];
            <tr>
                <th scope="row">@(i + 1)</th>
                <td>@user.FullName</td>
                <td>@user.Username</td>
            </tr>
        }
    }
    </tbody>
</table>